<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ResumeApp</title>
</head>
<body>
        <nav>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </nav>
<h1>Resume APP</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at cum cupiditate ea esse in, laboriosam, laudantium, numquam provident quaerat quo quod rem repudiandae tempora ullam. Dolor sit velit voluptate.</span><span>Ab aliquid animi blanditiis, consequuntur cum deserunt doloribus dolorum eius enim est eveniet facilis illo impedit inventore maiores nam nihil odio pariatur perspiciatis possimus quam reprehenderit temporibus totam unde vero.</span><span>At atque debitis distinctio eos est et excepturi, exercitationem explicabo fugit pariatur perferendis quaerat quas saepe sequi unde vero voluptas voluptatem! Aperiam consequatur dolore incidunt maiores non quae quos recusandae!</span><span>Aliquam autem commodi dolore dolorem doloremque error exercitationem illum, itaque labore laboriosam libero odio quas quibusdam quidem reprehenderit repudiandae sit totam vitae? Assumenda, dolorem esse exercitationem facere incidunt labore repellat!</span></p>
<br>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus distinctio nihil nostrum nulla rem reprehenderit. Blanditiis doloremque doloribus incidunt magni maxime quibusdam, quos recusandae sapiente sed veniam? Consequatur, tempora.</span></p>
</body>
</html>